{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block main %}

<div class="container" align="center">
    <div id="div-dmis-page-header" class="page-header" style="display:none">
        <h4><span id="id-page-heading"></span></h4>
        <span id="id-protocol-title"></span>
    </div> <!-- div "page-header" -->

<div class="body">

  <div class="col-sm-4"></div>
 
  <div class="col-sm-4">

    <div id="div-dmis-home" style="display:None">
        <ul id="pill-home" class="nav nav-pills nav-stacked">
          <li><a id="link-lab-reports-home" href="#" onclick="return labReportsHome();">Lab Reports</a></li>
          <li><a id="link-coordinator-reports-home" href="#" onclick="return coordinatorReportsHome();">Coordinator Reports</a></li>
        </ul>
    </div>  <!-- "div-home" -->

    {% include "lab_reports.html" %}
    
    {% include "coordinator_reports.html" %}

  </div>

  <div class="col-sm-4"></div>

</div> <!-- div row -->

<div class="alert alert-warning" id="alert-fetching" style="display:none">
  Fetching your data. Please wait ...
</div>

<div id="div-data-table" style="display:none">
<div class="table-responsive">
  <table id="data-table" class="table table-striped table-condensed active">
  <thead></thead>
  <tbody></tbody>
  </table>
</div>

<button id="btn-data-table-previous" role="button" class="btn btn-primary">Previous</button>
<button id="btn-data-table-done" role="button" class="btn btn-primary">Done</button>
<button id="btn-data-table-next" role="button" class="btn btn-primary">Next</button>
</div> <!-- div data-table -->

</div> <!-- div container -->

{% endblock main %}

{% block extra_js_bottom %}
{{ block.super }}
<script src="{% static "js/dmis-extract.js" %}" charset="utf8"></script>
<script>
    $(document).ready(function() {
        homeReady();
    });
</script>
{% endblock extra_js_bottom %}